@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Archivo';
  src: url('../app/Assets/Fonts/Archivo/OTF/Archivo-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Archivo-light';
  src: url('../app/Assets/Fonts/Archivo/OTF/Archivo-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Archivo-thin';
  src: url('../app/Assets/Fonts/Archivo/OTF/Archivo-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'FkScreamer';
  src: url('../app/Assets/Fonts/Screamer/FKScreamer-Black.woff2') format('woff2'); ;
}
@font-face {
  font-family: 'FkStudio';
  src: url('../app/Assets/Fonts/Screamer/StudioPro-Regular.woff2') format('woff2'); ;
}
@font-face {
  font-family: 'AngelList';
  src: url('../app/Assets/Fonts/Angellist/AngelList-VF.woff2') format('woff2'); ;
}

@layer utilities {
  .center{
    @apply mx-9 ;
  }

  .section-heading{
    @apply text-black text-3xl font-thin font-['Archivo-thin'] leading-tight mt-7 mb-24;
  }
  
  .text-color-purple{
    @apply  text-[#CDCBFF]
  }
  .bg-green{
    @apply bg-[#001D21]
  }
  .bg-yellow{
    @apply bg-[#FFE05F]
  }
}
